
<!-- Inclue les metadata tel que le titre, le css, l'icone du site -->
<%- include('base/meta', {title: "Acceuil"}) -%>

<body>
    <!-- Inclue la partie header -->
    <%- include('base/header') -%>
    <h1>Incidents</h1>

    <table>
        <thead>
            <tr>
                <th>Signalé Par</th>
                <th>Déscription de l'incident</th>
                <th>Date de L'incident</th>
                <th>Localisation</th>
            </tr>
        </thead>
        
        <tbody>
            <% for( let index = 0; index < incidents.length; index++ ) { %>
                <tr>
                    <td> <%= incidents[index].reportedBy %> </td>
                    <td> <%= incidents[index].description %> </td>
                    <td> <%= new Date(incidents[index].dateTime).toLocaleDateString() %> </td>
                    <td> <%= incidents[index].localisation %> </td>
                </tr>
            <% } %>
        
        </tbody>
    </table>
     <!-- Lien pour ajouter un incident -->
     <div style="text-align: center; margin-top: 2rem;">
        <a href="/incident" class="add-incident-link">Lien pour ajouter un incident</a>
    </div>

</body>
</html>