<%- include('base/meta', {title: "Signaler"}) -%>
<link rel="stylesheet" href="/static/style.css">

<body>
    <!-- Inclue la partie header -->
    <%- include('base/header') -%>

   
    <div class="username-box">
        <span class="username"><%= req.session.user.username %></span>
    </div>
    <% if (isPassed == "1") { %>
        <div id="isPassed" class="success">
            <%= "Incident ajouté avec succès" %>
        </div>
    <% } %>
    <% if (isPassed == "0") { %>
        <div id="isPassed" class="error">
            <%= "Il manque des informations pour ajouter l'incident" %>
        </div>
    <% } %>
    <h1>Signaler un incident</h1>
    
    
    <form action="/incident/add" method="post">
        <label for="localisation">Lieu de l'incident:</label>
        <input type="text" name="localisation" >

        <label for="date">Date de l'incident :</label>
        <input type="date" id="date" name="dateTime" >

        <label for="incident">Déscription de l'incident:</label>
        <textarea class="form_incident" name="description" ></textarea>
        
        <input type="hidden" name="incidentId" value="<%= incidents.length + 1 %>">
        <input type="hidden" name="reportedBy" value="<%= req.session.user.username %>">
        <input type="submit" value="Signaler">
    </form>
    <!-- Inclue la partie footer -->
    <%- include('base/footer') -%>
</body>
</html>
